<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zver Health Project 123</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-48x48.png' %}" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
</head>
<body>
  <section class="main">
    <div class="container">
      <div class="logo"></div>
      <div class="hello"></div>
      <div class="main__title">
        Для животных профориентационных тестов раньше не было, а мы придумали!
      </div>
      <button class="main__btn btn btn_pink">
        Поможем твоему питомцу определиться с IT-профессией.
      </button>

      <div class="bg-image bg-image_star"></div>
      <div class="bg-image bg-image_snake"></div>
    </div>
  </section>

  <section class="photo">
    <div class="container">
      <div class="photo__title">
        Посмотрим, <br>
        кто тут у нас?
      </div>
      <div class="form">
        <div class="form__subtitle">
          Загрузи фото своего или чужого питомца
        </div>
        <div class="form__image" id="imageBlock"></div>
        <div class="form__title">
          Как зовут твоего питомца?
        </div>
        <div class="form__name">
          <input type="text" autocomplete="off" class="form__name-input" id="nameInput" placeholder="Имя">
          <button disabled class="btn form__name-submit" id="nameInputBtn"></button>
        </div>
      </div>

      <div class="button-container">
        <button class="photo__btn btn btn_pink" id="noPetButton">
          У меня нет питомца
        </button>
        <div class="photo__tooltip" id="noPetTooltip">
          <div class="photo__tooltip-content">
            <div class="photo__tooltip-text">
              Ничего страшного — ты можешь загрузить фото питомца друга!
            </div>
            <div class="photo__tooltip-star"></div>
            <div class="photo__tooltip-line"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="pet-photo_main"></div>
  </section>

  <section class="start">
    <div class="">
      <div class="start__title">
        Отлично, можем начинать!
      </div>
      <div class="test slides">
        <div class="slide">
          <div class="test__item">
            <div class="test__image test__image_1"></div>
            <div class="test__text">
              Ты встаешь с утра — опаздываешь на работу, но нужно накормить питомца. Кладешь еду в миску в спешке, как попало. Что будет делать <span class="pet-name"></span>, когда захочет есть?
            </div>
            <ul class="test__item-list">
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option11" name="q1" value="a">
                <label for="option11">
                  <div class="test__item-label">
                    Проверит, хорошо ли пахнет еда. А то вдруг испортилась!
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option12" name="q1" value="b">
                <label for="option12">
                  <div class="test__item-label">
                    Сразу пойдет есть.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option13" name="q1" value="c">
                <label for="option13">
                  <div class="test__item-label">
                    Не будет есть, если еда не насыпана горочкой.
                  </div>
                </label>
              </li>
            </ul>
            <button disabled class="next-btn test__btn btn btn_pink">
              Далее
            </button>
          </div>
        </div>
        <div class="slide">
          <div class="test__item">
            <div class="test__image test__image_2"></div>
            <div class="test__text">
              <span class="pet-name"></span> просыпается. Какими будут первые действия?
            </div>
            <ul class="test__item-list">
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option21" name="q2" value="a">
                <label for="option21">
                  <div class="test__item-label">
                    Начнет умолять о еде.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option22" name="q2" value="b">
                <label for="option22">
                  <div class="test__item-label">
                    Сразу начнет мыться, чтобы начать новый день чистым.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option23" name="q2" value="c">
                <label for="option23">
                  <div class="test__item-label">
                    Найдет тебя где угодно и потребует играть.
                  </div>
                </label>
              </li>
            </ul>
            <button disabled class="next-btn test__btn btn btn_pink">
              Далее
            </button>
          </div>
        </div>
        <div class="slide">
          <div class="test__item">
            <div class="test__image test__image_3"></div>
            <div class="test__text">
              Какой у <span class="pet-name"></span> распорядок дня?
            </div>
            <ul class="test__item-list">
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option31" name="q3" value="a">
                <label for="option31">
                  <div class="test__item-label">
                    Каждый день подъем в одно и то же время, еда по расписанию.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option32" name="q3" value="b">
                <label for="option32">
                  <div class="test__item-label">
                    Утром — играть, днем — носиться, ночью — хотеть есть.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option33" name="q3" value="c">
                <label for="option33">
                  <div class="test__item-label">
                    Каждый день по-разному, но неизменно одно — постоянно проситься на ручки.
                  </div>
                </label>
              </li>
            </ul>
            <button disabled class="next-btn test__btn btn btn_pink">
              Далее
            </button>
          </div>
        </div>
        <div class="slide">
          <div class="test__item">
            <div class="test__image test__image_4"></div>
            <div class="test__text">
              Ты приходишь вечером домой. Как ведет себя <span class="pet-name"></span>?
            </div>
            <ul class="test__item-list">
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option41" name="q4" value="a">
                <label for="option41">
                  <div class="test__item-label">
                    Не сдвигается с места — если нужно, подходите сами!
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option42" name="q4" value="b">
                <label for="option42">
                  <div class="test__item-label">
                    Ждет, когда ему наконец дадут поесть.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option43" name="q4" value="c">
                <label for="option43">
                  <div class="test__item-label">
                    Караулит у двери с игрушкой.
                  </div>
                </label>
              </li>
            </ul>
            <button disabled class="next-btn test__btn btn btn_pink">
              Далее
            </button>
          </div>
        </div>
        <div class="slide">
          <div class="test__item">
            <div class="test__image test__image_5"></div>
            <div class="test__text">
              <span class="pet-name"></span> весь день проводит дома в одиночестве. Чем будет заниматься?
            </div>
            <ul class="test__item-list">
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option51" name="q5" value="a">
                <label for="option51">
                  <div class="test__item-label">
                    Поспит, поест, потом снова поспит.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option52" name="q5" value="b">
                <label for="option52">
                  <div class="test__item-label">
                    Прекрасно проведет время наедине с собой, поиграет, разнесет квартиру.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option53" name="q5" value="c">
                <label for="option53">
                  <div class="test__item-label">
                    Будет очень скучать и ждать.
                  </div>
                </label>
              </li>
            </ul>
            <button disabled class="next-btn test__btn btn btn_pink">
              Далее
            </button>
          </div>
        </div>
        
        <div class="slide">
          <div class="test__item">
            <div class="test__image test__image_6"></div>
            <div class="test__text">
              Ты покупаешь <span class="pet-name"></span> новую игрушку. Какой будет реакция?
            </div>
            <ul class="test__item-list">
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option61" name="q6" value="a">
                <label for="option61">
                  <div class="test__item-label">
                    Будет настроен скептически — все осмотрит и обнюхает.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option62" name="q6" value="b">
                <label for="option62">
                  <div class="test__item-label">
                    Обрадуется и сразу начнет играть.
                  </div>
                </label>
              </li>
              <li class="test__item-list-item">
                <input class="test__item-radio" type="radio" id="option63" name="q6" value="c">
                <label for="option63">
                  <div class="test__item-label">
                    Предпочтет свои любимые игрушки новой.
                  </div>
                </label>
              </li>
            </ul>
            <form id="postForm" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input id="fileInput" type="file" name="image" accept="image/*" style="display: none;">
              <input id="nameInputFinal" type="text" name="name">
              <input id="nameProfessionFinal" type="text" name="profession">
              <input id="durationInputFinal" type="hidden" name="duration">
              <input id="promptText" value="View from the window to the business center, computers in the office, office furniture" type="hidden" name="prompt" style="display: none;">
              <button disabled id="submitButton" class="next-btn test__btn btn btn_pink">
                Узнать результат
              </button>
              <div class="form__message" id="messageForm"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="dots test__steps">
        <div class="dot test__steps-item test__steps-item_active"></div>
        <div class="dot test__steps-item"></div>
        <div class="dot test__steps-item"></div>
        <div class="dot test__steps-item"></div>
        <div class="dot test__steps-item"></div>
        <div class="dot test__steps-item"></div>
      </div>
    </div>
  </section>

  <section class="result">
    <div class="container">
      <div class="result__image" id="result__image">
        <a class="result__image-link result__image-link_starter" href="">
          <img class="result__image-picture result__image-picture_hidden" src="" />
        </a>
        <div class="result__image-snake"></div>
        <div class="result__image-star"></div>
      </div>
      <div class="result__title">
        <div class="result__title-name pet-name" id="namePet">
          
        </div>
        <div class="result__title-prof" id="profPet">
          
        </div>
      </div>
      <div class="result__text">
        <p class="result__text-info" id="profPetText"></p>
        <br>
        <br>
        Помоги своему питомцу откликнуться 
        <a class="result__text-link" target="_blank" href="https://vacancy.sberhealth.ru/">
          <span>
            на вакансии СберЗдоровья,</span>
          <div></div>
        </a>
        &nbsp;чтобы он мог создавать ветеринарный сервис для своих собратьев. А то у него лапки!
      </div>
      <div class="result__share">
        <div class="result__share-btn result__share-btn_unactivate btn btn_pink" id="shareButton">
          Поделиться результатами
        </div>
        <div class="result__share-list">
          <a href="" 
              target="_blank"
               id="telegramShare"
              class="result__share-item result__share-item_tg"></a>
              <!-- <a href="" 
              target="_blank" 
              class="result__share-item result__share-item_vk"></a> -->
        </div>
      </div>
      <div class="logo"></div>
    </div>
  </section>
  <div class="besties">
    <div class="container">
      <div class="besties__grid" id="besties__grid">
        <div class="besties__grid-list" id="besties__grid-list">
          <!-- <a class="besties__grid-item besties__grid-item_1" href="https://images.unsplash.com/photo-1709324492299-f1d1f7f8f56d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img class="besties__grid-image" src="https://images.unsplash.com/photo-1709324492299-f1d1f7f8f56d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </a>
          <a class="besties__grid-item besties__grid-item_2" href="https://images.unsplash.com/photo-1727175078650-7cb1a883280d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img class="besties__grid-image" src="https://images.unsplash.com/photo-1727175078650-7cb1a883280d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </a>
          <a class="besties__grid-item besties__grid-item_3" href="https://plus.unsplash.com/premium_photo-1729017497963-ec4ec3458794?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img class="besties__grid-image" src="https://plus.unsplash.com/premium_photo-1729017497963-ec4ec3458794?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </a>
          <a class="besties__grid-item besties__grid-item_4" href="https://images.unsplash.com/photo-1728412389947-da908fb5dfff?q=80&w=2880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img class="besties__grid-image" src="https://images.unsplash.com/photo-1728412389947-da908fb5dfff?q=80&w=2880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </a>
          <a class="besties__grid-item besties__grid-item_5" href="https://images.unsplash.com/photo-1728357728879-ac9a5c703c2c?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img class="besties__grid-image" src="https://images.unsplash.com/photo-1728357728879-ac9a5c703c2c?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer__title">
        Делимся
      </div>
      <div class="footer__social">
        <a href="https://habr.com/ru/companies/docdoc/articles/" 
            target="_blank" 
            class="footer__social-item">
          <div class="footer__social-icon footer__social-icon_habr"></div>
          <div class="footer__social-title">
            Хабр
          </div>
        </a>
        <a href="https://vc.ru/sberhealth"
            target="_blank" 
            class="footer__social-item">
          <div class="footer__social-icon footer__social-icon_vc"></div>
          <div class="footer__social-title">
            VC
          </div>
        </a>
      </div>
      <div class="logo_white"></div>
      <div class="footer__text">
        ООО «ИННОВАЦИОННАЯ МЕДИЦИНА» <br>
        Юридический адрес: 105203, г. Москва, ул. Нижняя <br>
        Первомайская, д. 44, этаж цоколь, пом/ком XII/8, 9 <br>
        ОГРН 1197746310618
      </div>
      <div class="footer__text">
        Для партнёров: <a class="footer__text-link footer__text-link_blue" href="mailto:info@sberhealth.ru">info@sberhealth.ru</a><br>
        Для клиентов: <a class="footer__text-link footer__text-link_blue" href="mailto:help@sberhealth.ru">help@sberhealth.ru</a><br>
        Звоните нам: <a class="footer__text-link" href="tel:88001003598">8 800 100-35-98</a>
      </div>
      <div class="footer__text">
        <a class="footer__text-link" 
            href="https://tm.sberhealth.ru/obrabotkadannyh" 
            target="_blank"
            rel="noreferrer">
          Политика обработки персональных данных
        </a> <br> <br>
        <a class="footer__text-link" 
            href="https://tm.sberhealth.ru/medlic" 
            target="_blank"
            rel="noreferrer">
          Лицензия на медицинскую деятельность
        </a> <br> <br>
        <a class="footer__text-link" 
            href="https://tm.sberhealth.ru/rekvizit"
           target="_blank"
           rel="noreferrer">
          Реквизиты ООО «ИННОВАЦИОННАЯ МЕДИЦИНА»
        </a> <br> <br> <br>
        <div>
          © SBERHEALTH.RU 2012–2024
        </div>
      </div>
      <div class="footer__text footer__text_info">
        <div class="footer__text_info-18"></div>
        <div class="footer__text footer__text_info__text">
          ООО «ИННОВАЦИОННАЯ МЕДИЦИНА» оказывает медицинские и иные
          услуги с использованием сервиса СберЗдоровье (приложение
          СберЗдоровье, сайт sberhealth.ru), правообладателями которого
          является ООО «ДокДок», ИНН 9710011437 и иные лица. Информация,
          представленная на сайте, не может быть использована для постановки
          диагноза, назначения лечения и не заменяет приём врача
        </div>
      </div>
    </div>

    <div class="footer__socials">
      <a class="footer__socials-item footer__socials-item_vk" 
          target="_blank" 
          href="https://vk.com/sber.health"></a>
      <a class="footer__socials-item footer__socials-item_tg" 
          target="_blank" 
          href="https://t.me/sber_health"></a>
      <a class="footer__socials-item footer__socials-item_yt" 
          target="_blank" 
          href="https://www.youtube.com/channel/UCXu192twOLnUV3S_-buA4Pw"></a>
    </div>
    <div class="pet-photo_bottom"></div>
  </footer>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
